<div class="sidebar">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Employee
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a class="item-menu" routerLink="employee/list" routerLinkActive="active-link">
        <mat-icon class="mat-icon">list</mat-icon>
        Employee List
      </a>
      <a routerLinkActive="active-link" routerLink="employee/add" class="item-menu">
        <mat-icon class="mat-icon">add</mat-icon>
        Add Employee
      </a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Car manager
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a class="item-menu" routerLinkActive="active-link" routerLink="car/list">
        <mat-icon class="mat-icon">list</mat-icon>
        Car List
      </a>
      <a class="item-menu" routerLinkActive="active-link" routerLink="car/add">
        <mat-icon class="mat-icon">add</mat-icon>
        Add Car
      </a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Booking Office manager
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a class="item-menu" routerLinkActive="active-link" routerLink="booking-office/list">
        <mat-icon class="mat-icon">list</mat-icon>
        Booking office list
      </a>
      <a class="item-menu" routerLinkActive="active-link" routerLink="booking-office/add">
        <mat-icon class="mat-icon">add</mat-icon>
        Add booking office
      </a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Parking lot manager
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a class="item-menu" routerLinkActive="active-link" routerLink="parking-lot/list">
        <mat-icon class="mat-icon">list</mat-icon>
        Parking lot list
      </a>
      <p class="item-menu" routerLinkActive="active-link" routerLink="parking-lot/add">
        <mat-icon class="mat-icon">add</mat-icon>
        Add parking lot
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Trip manager
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a routerLinkActive="active-link" routerLink="trip/list" class="item-menu">
        <mat-icon class="mat-icon">list</mat-icon>
        Trip list
      </a>
      <a class="item-menu" routerLinkActive="active-link" routerLink="trip/add">
        <mat-icon class="mat-icon">add</mat-icon>
        Add Trip
      </a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Ticket manager
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a class="item-menu" routerLinkActive="active-link" routerLink="ticket/list">
        <mat-icon class="mat-icon">list</mat-icon>
        Ticket list
      </a>
      <a class="item-menu" routerLinkActive="active-link" routerLink="ticket/add">
        <mat-icon class="mat-icon">add</mat-icon>
        Add ticket
      </a>
    </mat-expansion-panel>

  </mat-accordion>
</div>
