<div class="app">
  <mat-grid-list cols="5" rowHeight="fit" style="height: 100vh">
    <mat-grid-tile
      colspan="5"
      rowspan="1"
      class="header-container"
    >
      <app-header></app-header>
    </mat-grid-tile>
    <mat-grid-tile
      colspan="1"
      rowspan="12"
      class="sidebar-container"
    >
      <app-sidebar></app-sidebar>
    </mat-grid-tile>
    <mat-grid-tile
      colspan="4"
      rowspan="12"
      class="content-container"
    >
      <router-outlet></router-outlet>
    </mat-grid-tile>
  </mat-grid-list>

</div>
