:host {
  width: 100%;
}

.add-trip-container {
  width: 100%;
  padding: 1rem;

  .category-title {
    width: 100%;
    font-size: 2.3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }

  .add-trip-content {
    display: flex;
    flex-direction: column;

    @import "src/app/shared/scss/input-filed-style";
  }

  .add-trip-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem auto;

    .button {
      cursor: pointer;
      color: #fff;
      padding: 1rem;
      margin: 1rem;
      display: flex;
      border-radius: 5px;
      flex-direction: row;
      align-items: center;

      .button-icon{
        display: inline-block;
        color: #fff;
        font-size: 1.6rem;
        height: fit-content;
      }

      p{
        font-size: 1.6rem;
        display: inline-block;
        margin: 0;
      }
    }

    .back {
      background: #3498db;
    }

    .reset {
      background: #f9ca24;
    }

    .add {
      background: #1dbf73;
    }
  }
}
