.search-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;

  .form-search {
    position: relative;

    .search-input {
      margin-right: 10rem;
      font-size: 1.6rem;
    }

    .btn-submit {
      color: #fff;
      position: absolute;
      padding: 0 .5rem;
      top: 0;
      right: 1rem;
    }
  }

}
